*.d
*.o
*.a
*.so
[._]*.sw[a-p]
iokerneld
iokerneld-noht
*~
.cproject
.project
.vscode
run.*
rcntrl
memserver

# ignore dpdk submodule since we dynamically switch between commits
# (any updates to these modules must be forced with -f)
dpdk
